.container {
    display: flex;
    flex-direction: column;
}

header,
nav,
footer {
    background-color: burlywood;
    text-align: center;
    padding: 20px;
    margin: 10px;
    border-radius: 12px;
}

main {
    display: flex;
    margin: 10px;
    gap: 10px;
    height: 80vh;
    flex-wrap: wrap;
}

aside {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 200px;
    background-color: antiquewhite;
    border-radius: 12px;
    /* min-height: auto; */
}

.main-content {
    display: flex;
    flex-direction: column;
    flex: 3 1 300px;
    font-size: 40px;
    gap: 10px;
    color: black;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyJgOKMTyOCP3Bv_GVy1QrYpt7rUHDf709Hg&s");
    /* background-repeat: no-repeat; *
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornsilk;
    /* height: 50%; */
    border-radius: 12px;
    padding: 12px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
    /* height: 50%; */
    border-radius: 12px;
}


.profile {
    width: 900px;
    height: 500px;
}